

html{
    cursor: crosshair;
    background-image: url('data/image/bg/bg_bars.gif');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: -100px;
}

.warning{
    
    font-family: monospace;
    font-size: 2.5em;
    text-align: center;
    color:#f4f4f4;
    background-color:#181818;
    width: 600px;
    margin: auto;
    padding:10px;
    padding: 12px;
    border-image: url("data/image/ants.gif") 1 repeat;
    border-image-width: 3px;
    
}

.pagedollcontainer{
    display: flex;
    justify-content: center;
    align-items: center;

}



.pagedoll{
    width: 260px;
    position: absolute;
    margin-top: -120px;
    margin-left: -550px;
    animation: 5.64751s ease-in-out infinite hoverhand;
    image-rendering: smooth;
}

@keyframes hoverhand {
	0% {transform:translate(0px, 4px);}
	50% {transform:translate(0px, -4px);}
	100% {transform:translate(0px, 4px);}
}

.enter{
    
    color: #ffffff;
    font-family: monospace;
    font-size: 46px;
    text-align: center;
    border: solid 1px #fafafa;
    background-color:#0a0a0a;
    padding: 2px;
    width: 350px;
    margin: auto;
    margin-top:-15px;
    transform: rotate(2deg);
    letter-spacing:8px;
    cursor: crosshair;


}

.enter a{
    
    all:unset;
    position:relative;
    cursor:crosshair;
}

.enter:hover{
    animation:jitter 0.8s steps(1,end) infinite;
    text-shadow:2px 2px 0px #e6e6e6;
    color:#000000;
    background-color:#f4f4f4;
border: solid 2px #f4f4f4;
    border-image: url("data/image/ants.gif") 1 repeat;
    cursor: crosshair;
}

@keyframes jitter
		{
		0%	{ transform: skew(-7deg) translate(0px, 0px) scalex(1) scaley(1.03) rotate(0deg);}
		10%	{ transform: skew(0.3deg) translate(-1px, 0px) scalex(1.07) scaley(1) rotate(0deg); }
		20%	{ transform: skew(2deg) translate(3px, 0px) scalex(1) scaley(1) rotate(0deg); }
		30%	{ transform: skew(0deg) translate(0px, 2px) scalex(1.08) scaley(1) rotate(0deg); }
		40%	{ transform: skew(-0.5deg) translate(1px, -5px) scalex(1) scaley(1.004) rotate(0deg); }
		50%	{ transform: skew(-0.5deg) translate(0px, 0px) scalex(1.1) scaley(1) rotate(0deg); }
		60%	{ transform: skew(0deg) translate(-3px, 0px) scalex(1) scaley(1) rotate(0deg); }
		70%	{ transform: skew(0.5deg) translate(-1px, -4px) scalex(0.95) scaley(1) rotate(0deg); }
		80%	{ transform: skew(3deg) translate(3px, 0px) scalex(1) scaley(1.03) rotate(0deg); }
		90%	{ transform: skew(1deg) translate(0px, 0px) scalex(1.08) scaley(1) rotate(0deg); }
		100%	{ transform: skew(-0.5deg) translate(1px, 5px) scalex(1) scaley(1.12) rotate(0deg); }
		}



@font-face {
    font-family: 'vcrosdmono';
    src: url('data/fonts/VCR_OSD_MONO_1.001.ttf');
}